@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body,textarea, input {
    font-family: Montserrat, sans-serif;
    
}

body {
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
height:70px;
background: #C6FFDD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
display:flex;
justify-content: space-between;
align-items: center;
}

nav {
    height:80px;
    display:flex;
    align-items: center;
    background-color: rgba(61, 124, 61, .3);
}

li {
    display:inline-block;
    margin-right:1rem;
    margin-left:1rem;
    font-weight: 700;
    height:100%;
    padding:1rem;
    transition: all ease-in-out .3s;
    cursor: pointer;
}

li:hover {
    color:rgb(51, 51, 51);
    background-color: rgba(245, 255, 240, 0.6);
}

.li-active {
    color:white;
    background-color: rgba(86, 171, 47, 0.6);
}

i {
    margin:1rem;
    font-size: 2rem;
 
}

button {
    font-family: Montserrat, sans-serif;
    color:white;
    background-color: gray;
    background-color: rgba(0, 0, 0, .4);
    border:1px solid rgba(0, 0, 0, .2);
    padding:1rem;
    font-size: 1.1rem;
    width:120px;
    transition: all ease-in-out .3s;
    cursor: pointer;
}

button:focus {
    border:none;
    outline: none;
}

button:hover {
    background-color: rgba(0, 0, 0, .25);
}

input {
    width:100%;
    margin: auto;
    margin-bottom:1rem;
}

input[type=email],input[type=password],input[type=text] {
    display:block;
    font-size: 1.4rem;
    padding:.3rem;
    max-width:900px;
    background-color: rgba(200, 200, 200, 0.5);
    border:1px solid rgba(0, 0, 0, .4);
    border-radius: 8px;
}

textarea {
    width:100%;
    margin: auto;
    margin-bottom:1rem;
    display:block;
    font-size: 1.4rem;
    padding:.3rem;
    max-width:900px;
    background-color: rgba(200, 200, 200, 0.5);
    border:1px solid rgba(0, 0, 0, .4);
    border-radius: 8px;
}

select {
    width:100%;
    margin: auto;
    margin-bottom:1rem;
    display:block;
    font-size: 1.4rem;
    padding:.3rem;
    max-width:900px;
    background-color: silver;
    border:1px solid rgba(0, 0, 0, .4);
    border-radius: 8px;
}

label {
    display:block;
    margin:auto;
    font-size: 1.2rem;
    padding:.3rem;
    width:100%;
    max-width:900px;
    
}

input[type=submit]{
    display:block;
    font-size: 1.3rem;
    margin-top:2rem;
    padding:.4rem;
    max-width:900px;
    background-color: rgb(88, 88, 88);
    color:rgb(231, 231, 231);
    border:1px solid rgba(0, 0, 0, .4);
    border-radius: 6px;
    transition: all ease-in-out .3s;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: rgba(40, 83, 29, 0.6);
    color:rgb(31, 31, 31);
}

input:focus,textarea:focus,select:focus {
    border:none;
    outline:none;
    box-shadow: 0 0 8px rgba(0, 189, 177, 0.6);
}

.filebase {
    width:100%;
    margin: auto;
    margin-bottom:1rem;
    display:block;
    font-size: 1.4rem;
    padding:.3rem;
    max-width:900px;
    background-color: silver;
    border:1px solid rgba(0, 0, 0, .4);
    border-radius: 8px;
}



h1 {
    font-size: 2.2rem;
    padding: 2rem;
    transition: all ease-in-out .3s;
    }

h1:hover {
    color:rgb(136, 136, 136);
    }


h2 {
    font-size: 2rem;
    padding: 2rem 0 2rem;
    margin: auto;
    max-width: 900px;   
    width:100%;
}

h3 {
    font-size: 1.5rem;
    padding:.5rem;
    }

p {
    display: block;
    background-color: rgba(0, 0, 0, .1);
    font-size: 1.5rem;
    max-width: 900px;
    width:100%;
    margin:auto;
    padding:.7rem;
    border-radius: 8px;
    border-bottom:1px solid silver;
}

p.description {
    font-size: 1.2rem;
    
}

p.moment {
    font-size: 1rem;
    margin-top:.5rem;
    padding:.4rem;
    text-align: right;
    color:rgb(110, 143, 72);
    background:white;
}

p.warning {
    display: block;
    color:rgb(211, 119, 57);
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 1.5rem;
    max-width: 900px;
    width:100%;
    margin:auto;
    padding:.7rem;
    
    
}

a {text-decoration: none;
color:white;
transition: all ease-in-out .3s;}

a:hover{
    color:rgb(41, 41, 41);
}

.link-nav {
    color:black;
}


.welcome-user {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.buttons {
    display:flex;
    height:100%;
}

.home {
    height:100%;
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: top;
    margin-top:1rem;
    margin: auto;
    margin-bottom:6rem;
    max-width: 900px;   
    width:100%;
    
}

.job-card {
    flex-grow: 1;
    width:33%;
    border:1px solid rgba(0, 0, 0, .2);
    padding:1rem;
    margin:1rem;
    border-radius: 10px;
    background: rgba(70, 136, 132, 0.2);

}

.user-wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    width:80px;
    height:80px;
    object-fit: cover;
    border-radius: 50%;
    border:2px solid rgba(255, 255, 255, 1)
}

i {
    transition: all ease-in-out .3s;
    cursor: pointer;
}

i:hover {
    color:rgba(111, 177, 67, 0.4)
}

.a-mail{
    color:rgb(98, 139, 70);
}

.no-jobs {
    color:rgb(125, 151, 92);
    font-size: 1.3rem;
}

.avatar {
    width:80px;
    height:80px;
    object-fit: cover;
    border-radius: 50%;
    border:2px solid rgba(255, 255, 255, 1);
    transition: all ease-in-out .3s;
}

.avatar:hover {
    opacity: .8;
}

.title {
    background-color: rgba(134, 69, 69,.5);
    padding:1rem;
    border-radius: 0 0 32px 8px;
}

.job-title {
    
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 300px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    color:white;
    border-radius: 10px;
    border-radius: 0 0 10px 10px;
    padding:0;
    margin-bottom:.5rem;
    display:flex;
    justify-content: space-between;
    flex-direction:column;
    flex-wrap: wrap;
    /*line-height: 3rem;*/
}

.dots {
    display:inline;
    font-size: 4rem;
    text-align: right;
    padding:.5rem;
    color:rgba(0, 0, 0, .7);
    background-color: rgba(255, 255, 255, .2);
    cursor: pointer;
    transition: all ease-in-out .3s;
}

.dots:hover {
    color:rgba(171, 255, 115, 0.6)
}

.modal {
    position: absolute;
    top:0;
    height:0;
    pointer-events: none;
    display: none;
    width:100%;
    height:100%;
    cursor: pointer;
}

.modal-active {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    height:0;
    background-color: rgba(0, 0, 0, .5);
    width:100%;
    height:100%;
   
}

.update-wrapper {
    width:450px;
    background-color: rgba(0, 0, 0, .7);
    padding:2rem;
    border-radius: 20px;
}

.update-job {
    color:white;
}

.close-modal {
    display:block;
    color:white;
    
    font-size: 1.5rem;
    text-align: right;
    cursor: pointer;
}

.open-delete {
    display:block;
    color:black;
    background-color: rgba(80, 133, 67, 0.2);
    padding:.3rem;
    font-size: 1.5rem;
    text-align: right;
    cursor: pointer;
}

.white-color {
    color:white;
}

.job-title-rows {
    display:block;
    background-color: rgba(134, 69, 69,.5);
    padding:1rem;
    border-radius: 0 0 32px 8px;
}



.status.green {
    color:rgb(28, 95, 28);
    background-color: rgba(86, 171, 47, 0.8);
    padding:.15rem;
    border-radius: 6px;
}

.status.yellow {
    color:rgb(173, 139, 27);
    background-color: rgba(184, 174, 33, 0.8);
    padding:.15rem;
    border-radius: 6px;
}

.status.red {
    color:rgb(99, 23, 23);
    background-color: rgba(171, 47, 47, 0.8);
    padding:.15rem;
    border-radius: 6px;
}

.search-res {
    background-color: rgba(86, 171, 47, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
}

.search-headline {
    font-weight: 700;
}

.search-img {
    height:50px;
}

.job-search-card {
    margin-bottom: 1rem;
    padding:1rem;
}

.job-search-card:last-of-type {
    margin-bottom: 6rem;
    padding:1rem;
}



.apply {
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.external-link {
    color:rgb(112, 37, 37);
}



.json-p {
  display: block;/* or inline-block */
  word-wrap: break-word;
  overflow: hidden;
  font-size: 1.2rem;
  max-height: 8.5em;
  line-height: 1.5em;
  padding:1rem;
  
}

.footer {
    height:80px;
    width:100%;
    position: fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    bottom:0;
    left:0;
    font-weight: 700;
    color:white;
    background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, rgba(86, 171, 47, 0.8));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, rgba(86, 171, 47, 0.8)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}